@using BlogProject.EntityLayer.Concrete
@model Article
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}


<body>
    <!--================Header Menu Area =================-->
    <!--================Header Menu Area =================-->
    <!--================ Hero sm Banner start =================-->
    <section class="mb-30px">
        <div class="container">
            <div class="hero-banner hero-banner--sm">
                <div class="hero-banner__content">
                    <h1>Blog details</h1>
                    <nav aria-label="breadcrumb" class="banner-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Blog Details</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!--================ Hero sm Banner end =================-->
    <!--================ Start Blog Post Area =================-->
    <section class="blog-post-area section-margin">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="main_blog_details">
                        <img class="img-fluid" src="@Model.CoverImageUrl" alt="">
                        <a href="#"><h4>@Model.Title</h4></a>
                        <div class="user_details">
                            <div class="float-left">
                                <a href="#">Lifestyle</a>
                                <a href="#">Gadget</a>
                            </div>
                            <div class="float-right mt-sm-0 mt-3">
                                <div class="media">
                                    <div class="media-body">
                                        <h5>@Model.AppUser.Name @Model.AppUser.Surname</h5>
                                        <p>@Model.CreatedDate.ToString("dd MMM, yyyy hh: mm tt")</p>
                                    </div>
                                    <div class="d-flex">
                                        <img width="42" height="42" src="@Model.AppUser.ImageUrl" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>@Model.Description</p>
                        <div class="news_d_footer flex-column flex-sm-row">
                            <a href="#"><span class="align-middle mr-2"><i class="ti-heart"></i></span>Lily and 4 people like this</a>
                            <a class="justify-content-sm-center ml-sm-auto mt-sm-0 mt-2" href="#"><span class="align-middle mr-2"><i class="ti-themify-favicon"></i></span>@Model.Comments.Count Yorum</a>
                            <div class="news_socail ml-sm-auto mt-sm-0 mt-2">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-dribbble"></i></a>
                            </div>
                        </div>
                    </div>


                    <div class="navigation-area">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                                @if (ViewBag.PrevArticle != null)
                                {
                                    <div class="thumb">
                                        <a href="@Url.Action("Index", "ArticleDetail", new { id = ViewBag.PrevArticle.ArticleId })">
                                            <img class="img-fluid" style="max-width: 60px; height: 60px;" src="@ViewBag.PrevArticle.CoverImageUrl" alt="">

                                        </a>
                                    </div>
                                    <div class="detials">
                                        <p>Prev Post</p>
                                        <a href="@Url.Action("Index", "ArticleDetail", new { id = ViewBag.PrevArticle.ArticleId })">
                                            <h4>@ViewBag.PrevArticle.Title</h4>
                                        </a>
                                    </div>
                                }
                            </div>
                            <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                                @if (ViewBag.NextArticle != null)
                                {
                                    <div class="detials">
                                        <p>Next Post</p>
                                        <a href="@Url.Action("Index", "ArticleDetail", new { id = ViewBag.NextArticle.ArticleId })">
                                            <h4>@ViewBag.NextArticle.Title</h4>
                                        </a>
                                    </div>
                                    <div class="thumb">
                                        <a href="@Url.Action("Index", "ArticleDetail", new { id = ViewBag.NextArticle.ArticleId })">
                                            <img class="img-fluid" style="max-width: 60px; height: 60px;" src="@ViewBag.NextArticle.CoverImageUrl" alt="">

                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    @await Html.PartialAsync("~/Views/Comment/CommentList.cshtml", Model.Comments ?? new List<Comment>())
                    @await Html.PartialAsync("~/Views/Comment/AddComment.cshtml", new Comment { ArticleId = (int)ViewBag.ArticleId })

                </div>
               
                <!-- Start Blog Post Siddebar -->
                <div class="col-lg-4 sidebar-widgets">
                    <div class="widget-wrap">
                        @await Html.PartialAsync("~/Views/Newsletter/NewsletterSubscribe.cshtml", (object)ViewBag.Newsletter)
                      
                        @await Component.InvokeAsync("_CategoryBlogsCP")
                        @await Component.InvokeAsync("_PopularBlogsCP")
                        @await Component.InvokeAsync("_TagCloudCP")
                    </div>
                </div>
            </div>
            <!-- End Blog Post Siddebar -->
        </div>
    </section>
    <!--================ End Blog Post Area =================-->
    <!--================ Start Footer Area =================-->
    <!--================ End Footer Area =================-->

</body>